Repository probberechts/soccerdata, pull requests merged in 2023-07, with the labels that each got.

#283 [FBref] Fix invalid cache filenames in read_team_season_stats
  soccerdata/fbref.py
Labels: bug, FBref

#285 [FBref] Handle missing flag icon in Squad or Nation column
  soccerdata/fbref.py
Labels: bug, FBref

#288 Remove dependency pretty-errors
  soccerdata/_config.py
Labels: dependencies

#290 [FBref] filter leagues in read_team_match_stats
  soccerdata/fbref.py
Labels: bug, FBref

#302 Add support for Women's World Cup
  soccerdata/_config.py
  soccerdata/fbref.py
  soccerdata/whoscored.py
Labels: enhancement, FBref, WhoScored

#303 [FBref] Informative errors when merge fails
  soccerdata/fbref.py
  tests/test_FBref.py
Labels: enhancement, FBref

#306 [FBref] Handle teammates with identical name
  soccerdata/fbref.py
Labels: bug, FBref

#307 [FBref] Update API docs
  docs/reference/fbref.rst
Labels: documentation, FBref

#309 Handle canceled / forfeited games
  soccerdata/fbref.py
  tests/test_FBref.py
Labels: bug, FBref

#284 [FBref] Handle missing Scores & Fixtures page on the Big 5 European Leagues Stats page
  soccerdata/fbref.py
  tests/test_FBref.py
Labels: bug, FBref

#312 Add 'dependencies' label to renovate PRs
  .github/renovate.json
Labels: ci

#311 Update dependency undected-chromedriver to v3.5.0
  poetry.lock
  pyproject.toml
Labels: dependencies

#318 [SoFIFA] Fix read_leagues
  soccerdata/sofifa.py
Labels: bug, SoFIFA
