Repository probberechts/soccerdata, pull requests merged in 2023-10, with the labels that each got.

#393 Update RTD config
  .readthedocs.yml
Labels: ci

#384 update read_team_match_stats to deal with latest season
  soccerdata/fbref.py
Labels: bug, FBref

#379 [FBref] exception if opponent stats not available
  soccerdata/fbref.py
Labels: enhancement, FBref

#406 [FBref] Fix read_team_match_stats to deal with missing time
  soccerdata/fbref.py
Labels: bug, FBref

#411 Drop Python 3.8 support
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Labels: dependencies

#412 Handle Selenium 4.13 no longer supporting headless
  soccerdata/_common.py
  soccerdata/whoscored.py
Labels: bug, WhoScored

#414 [SoFIFA] Fix team xpath selector
  soccerdata/sofifa.py
Labels: bug, SoFIFA
