Repository probberechts/soccerdata, pull requests merged in 2024-08, with the labels that each got.

#675 [FBref] Update rate limit to 10 requests/sec
  soccerdata/fbref.py
Labels: bug, FBref

#663 [Understat] Add Assists, Key Passes, Yellow Cards, Red cards info in read_player_match_stats()
  soccerdata/understat.py
  tests/test_Understat.py
Labels: enhancement, understat

#691 fix(deps): add "packaging"
  poetry.lock
  pyproject.toml
Labels: dependencies

#693 feat(sofascore): support 2nd tier leagues
  soccerdata/sofascore.py
Labels: enhancement, Sofascore

#692 fix(deps): ensure compatability with socceraction
  poetry.lock
  pyproject.toml
Labels: bug, dependencies
