Repository probberechts/soccerdata, pull requests merged in 2024-04, with the labels that each got.

#540 Fix GHA pipx install
  .github/workflows/ci.yml
Labels: bug, ci

#538 [FBref] Add force_cache param to read_team_match_stats
  soccerdata/fbref.py
Labels: enhancement, FBref

#505 Add support for scraping Sofascore
  .github/labels.yml
  .pre-commit-config.yaml
  README.rst
  docs/datasources/Sofascore.ipynb
  docs/datasources/index.rst
  docs/howto/custom-leagues.rst
  docs/index.rst
  docs/reference/index.rst
  docs/reference/sofascore.rst
  soccerdata/__init__.py
  soccerdata/_common.py
  soccerdata/_config.py
  soccerdata/sofascore.py
  tests/conftest.py
  tests/test_Sofascore.py
Labels: enhancement

#541 [FotMob] Get correct team match stats using 'opponent_stats' parameter
  soccerdata/fotmob.py
Labels: bug, FotMob
