Repository probberechts/soccerdata, pull requests merged in 2024-05, with the labels that each got.

#566 [FBref] Handle yellow card events for non-players
  soccerdata/fbref.py
  tests/test_FBref.py
Labels: bug

#582 [WhoScored] Update read_schedule method
  docs/datasources/WhoScored.ipynb
  soccerdata/_common.py
  soccerdata/whoscored.py
Labels: bug, WhoScored

#592 [WhoScored] Add options to skip/retry/raise when scraping match events fails
  soccerdata/_common.py
  soccerdata/whoscored.py
Labels: enhancement, WhoScored

#595 [FBref] Avoid duplicate Big 5 leagues
  soccerdata/fbref.py
Labels: bug, FBref
