Repository probberechts/soccerdata, pull requests merged in 2024-07, with the labels that each got.

#632 Add test for FBref.available_leagues
  tests/test_FBref.py
Labels: testing, FBref

#640 [Fotmob] Include matches which ended in extra time or after penalties
  soccerdata/fotmob.py
Labels: bug, FotMob

#636 [WhoScored] Error handling for missing events
  soccerdata/_common.py
  soccerdata/whoscored.py
Labels: bug, WhoScored
