Repository probberechts/soccerdata, pull requests merged in 2025-05, with the labels that each got.

#826 FiveThirtyEight is dead 💀
  README.rst
  docs/datasources/FiveThirtyEight.ipynb
  docs/datasources/index.rst
  docs/index.rst
  docs/reference/fivethirtyeight.rst
  soccerdata/__init__.py
  soccerdata/fivethirtyeight.py
  tests/conftest.py
  tests/test_FiveThirtyEight.py
  tests/test_Integration.py
Labels: bug, FiveThirtyEight

#835 [Sofascore] Bypass TLS fingerprinting
  poetry.lock
  pyproject.toml
  soccerdata/_common.py
Labels: bug, Sofascore

#846 Replace undetected_chromedriver by seleniumbase
  poetry.lock
  pyproject.toml
  soccerdata/_common.py
  soccerdata/clubelo.py
  soccerdata/espn.py
  soccerdata/fbref.py
  soccerdata/fotmob.py
  soccerdata/match_history.py
  soccerdata/sofascore.py
  soccerdata/sofifa.py
  soccerdata/understat.py
  soccerdata/whoscored.py
  tests/conftest.py
Labels: dependencies

#822 fix(SoFIFA): fix iteration indent error in read_player_ratings
  soccerdata/sofifa.py
Labels: bug, SoFIFA

#850 [FBref] Increase rate limit
  soccerdata/fbref.py
Labels: bug, FBref
